@import 'globals';

body {
    background: $dark_gray;
}
p, h4 {
    color: $text_color;
    font-family: Copperplate, sans-serif;
}
ul, li {
    padding: 0px 5px 0px 5px;
    list-style: none;
}

#panel {
    height: 100%;
    width: 280px;

    position: absolute;
    top: 0;
    right: 0;

    background: $bg;

    h4 {
        text-align: center;
    }

    .menu {
        width: 80%;
        height: auto;
        max-height: 35%;

        float: right;
        margin-top: 2em;
        margin-right: 10%;

        overflow: auto;
        box-shadow: 0px 0px 15px $medium_gray;
    }

    .tool-menu {
        li {
            padding: 5px 5px 5px 5px;
            border-bottom: 1px solid $dark_gray;
        }
        li:last-child {
            border-bottom: 0px;
        }
        li:hover {
            background: $dark_gray;
            color: white;
            cursor: pointer;
        }
        li.selected {
            background: $dark_gray;
            color: white;
        }
    }

    .opt-menu {
        li {
            margin-bottom: -15px;
        }
        li:last-child {
            margin-bottom: 0px;
        }
        .opt-label {
            position: relative;
            margin-left: 5px;
            margin-bottom: 8px;
        }
        *.slider {
            float: left;
            width: 80%;
            margin-left: 5px;
        }
        .opt-val {
            position: relative;
            left: 10px;
            bottom: 9px;
        }
    }

    .history-menu {
        overflow: auto;

        ul {
            margin-top: -3px;
        }
        li {
            padding: 3px 0 3px 0;
            border-bottom: 1px solid $dark_gray;
        }
        li:last-child {
            padding: 3px 0 3px 0;
            border-bottom: 0;
        }
        p {
            margin-left: 10px;
        }
    }
}

#canvas {
    background: white;
}
.rect-icon {
    position: relative;
    float: right;
    width: 24px;
    height: 24px;
    background: $muted_purple;
    bottom: 38px;
    right: 16px;
}
.circle-icon {
    position: relative;
    float: right;
    width: 24px;
    height: 24px;
    background: $muted_orange;
    bottom: 38px;
    right: 16px;
    border-radius: 20px;
}
