@import 'globals';

body {
    background: $dark_gray;
}
ul, li {
    padding: 5px 5px 5px 5px;
    list-style: none;
}

#panel {
    height: 100%;
    width: 280px;

    position: absolute;
    top: 0;
    right: 0;

    background: $medium_gray;

    .tool-menu {
        width: 80%;
        height: 35%;

        float: right;
        margin-top: 2em;
        margin-right: 10%;

        overflow: auto;
        box-shadow: 0px 0px 15px black;

        ul {
            li {
                border-bottom: 1px solid $dark_gray;
            }
            li:hover {
                background: $light_gray;
                cursor: pointer;
            }
            li.selected {
                background: $light_gray;
            }
        }
    }
}

#canvas {
    background: white;
}
