$bg: #e3e5e6;

$dark_gray: rgb(40, 40, 40);
$medium_gray: rgb(90, 90, 90);
$light_gray: rgb(200, 200, 200);

$muted_red: rgba(240, 30, 10, .6);
$muted_purple: rgba(100, 20, 100, .6);
$muted_orange: rgba(180, 30, 0, .6);

$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
