$bg: #e3e5e6;

$dark_gray: rgb(40, 40, 40);
$medium_gray: rgb(70, 70, 70);
$light_gray: rgb(190, 190, 190);

$muted_red: rgba(240, 30, 10, .6);
$muted_purple: rgba(100, 20, 100, .6);
$muted_orange: rgba(180, 30, 0, .6);
$muted_green: rgba(20, 180, 0, .6);

$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
