$bg: #e3e5e6;
$text_color: #1d1e1f;

$dark_gray: rgb(40, 40, 40);
$medium_gray: rgb(120, 120, 120);
$light_gray: rgb(200, 200, 200);

$muted_purple: rgba(120, 0, 120, .6);
$muted_orange: rgba(180, 30, 0, .6);

$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
